<div class="container">
    <div class="row">
        {{#each Projects}}
        <div class="col l4">
            <div class="card grey darken-2">
                <div class="card-content white-text">
                    <span class="left card-title">{{project_name}}</span>
                    <div class="row right">
                        <p>{{project_status}}</p>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col l12">
                            <p>Percent complete: {{percent_complete}}</p>
                        </div>
                        <div class="col l12">
                            <p>Project Manager: {{project_manager}}</p>
                        </div>
                        <div class="col l12">
                            <p>Due Date: {{due_date}}</p>
                        </div>
                        {{!-- <div class="col l12">
                            <p>Completion Date: {{completion_date}}</p>
                        </div> --}}
                    </div>
                    {{!-- <p>
                    <form method="POST" action="{{this.id}}?_method=DELETE">
                        <button type="submit">Delete</button>
                    </form>
                    </p> --}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>